
<div class="panel panel-default grid-stack-item-content">
    <div class="panel-heading">
        <i class="fa fa-calendar-o fa-fw"></i> Thanks 2le
        <button type="button" class="close pull-right" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="panel-body">
        <a href="https://www.2le.net"><img class="img-responsive" src="https://www.2le.net/wp-inside/themes/2le-net/assets/images/logo-2le.png"></a>
    </div>
</div>