{% extends "TkuskaDashboardBundle:widget:base_widget.html.twig" %}

{% block widget_body %}
    <div class="panel-body">
        <a href="https://www.2le.net"><img class="img-responsive" src="https://www.2le.net/wp-inside/themes/2le-net/assets/images/logo-2le.png"></a>
    </div>
{% endblock %}

{% block widget_footer %}{% endblock %}