{% extends '@TkuskaDashboard/widget/base_widget.html.twig' %}

{% block widget_body %}
    <div class="panel-body text-center">
        <i style="font-size:100px;" class="fa fa-circle-o-notch fa-spin"></i>
        <span class="sr-only">{{ 'widget.loading'|trans(domain='TkuskaDashboardBundle') }}</span>
    </div>
{% endblock %}

{% block widget_config %}
{% endblock %}
