{% extends '@TkuskaDashboard/widget/base_widget.html.twig' %}


{% block widget_body %}
        <div style="height:300px; padding-top:40px; text-align:center;">
        <i style="font-size:100px;" class="fa fa-circle-o-notch fa-spin fa-fw"></i>
        <span class="sr-only">Loading...</span>
        </div>
{% endblock %}

{% block widget_config %}
{% endblock %}
